.body-title{
    text-align: left;
    width: 650px;
    font-size: 20px;
    margin-bottom: 10px;
}

table.table-form input{
    width: 100%;
    height: 100%;
    padding: 2px;
    text-align: right;
    border-radius: 3px;
    border: 1px solid;
}

input:read-only{
    background: #f9f9f9;
}

table.table-form td{
    border:none;
    width: 95px;
    height: 27px;
}

table.table-form tbody td{
    text-align: center; 
    vertical-align: middle;
}

table.table-form tbody input.result{
    color: blue;
    border: 1px solid black;
}

input.positive{
    color: green;
    border: 1px solid black !important;
}

input.negative{
    color: red;
    border: 1px solid black !important;
}

table.table-form tbody td:first-child{
    text-align: left;
}

tabl.table-form th{
    border: 1px 0px 1px 0px;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    color: black;
    height: 40px;
    width: 100px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 600;
    background-color: #73d0ff;
    cursor: pointer;
    float:right;
}

.disable{
    opacity: 0.5;
}