#dataSpace{
    position: relative; 
    height: 386px; 
    width: 700px; 
    display: block;
}

table {
    border-collapse: collapse;
    width: 650px;
}

table thead th{
    width: 100px;
    background: #f9f9f9;
    text-align: center;
    padding: 0.5em;
    border: 1px solid #e9e9e9;
    font-size: 14px;
}

table thead th:first-child{
    width: 50px;
}

table tbody tr{
    background: #fff;
}

table.main tbody tr{
    cursor: pointer;
}

table tbody tr.selected {
    background: rgb(230, 255, 63);
}

table.main tbody tr:hover{
    border-bottom: 0.13rem solid #73d0ff;
}

tr:nth-child(even) {
    background: rgb(252, 252, 252);
}

table tbody td{
    border: 1px solid #f3f3f3;
    text-align: right;
    padding: 10px;
}

button{
    margin-bottom: 0px !important;
    align-content: center;
}

.inactive{
    opacity: 0.5;
    cursor: default !important;
}