header{
    background: #0084bf;
    color: #FFF;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
}

img{
    float: left;
    width: 50px;
    height: 50px;
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 20px;
}