body{
    background: ghostwhite;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.row{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}