ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li{
    display: block;
    float: left;
    background:#FFF;
    padding: 15px 20px 15px 20px;
    border-radius: 5px;
    margin: 2px;
    border: 2px solid #000;
    font-size: 20px;
    cursor: pointer;
}

li:hover, .selected{
    background: rgb(230, 255, 63);
}

li:last-child{
    background-color: #73d0ff;
}

.risk-label{
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.risk-label-levels{
    display: flex;
    flex-direction: row;
    font-size: 18px;
    justify-content: space-between;
    width: 740px;
}

span.risk-level{
    margin-right: 120px;
    margin-bottom: 5px;
}

a:visited {
    color: #000;
}

a{
    text-decoration: none;
}